<br />
<h2>Добредојдовте на системот за онлајн нарачка на лекови!</h2>
<br />
<hr />
<img src="~/1597323669-GettyImages-837647832.jpg" style="max-width:600px" />
<br />
<hr />
<a href="/Account/Register" class="btn btn-default">Регистрирај се</a>
<a href="/Account/Login" class="btn btn-primary">Најави се</a>
