@using E_Apteka.Models;
@{
    ViewBag.Title = "ZavrsiNaracka";
}

<h2>Вашата нарачка е примена.</h2>
<br />

<a href="/Medicines/Index" class="btn btn-success">Вратете се на почетната страница</a>


